        {% extends '../public/base.html' %}
        {% block main%}
        <div class="col-sm-10">
          
            <div class="panel panel-default">              
			    <div class="panel-heading">
                    增加权限
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <form action="doEdit?_id={{queryDoc[0]._id}}" method="post">
                            <ul>
                                <li>  模块名称: <input type="text" name="module_name" value="{{queryDoc[0].module_name}}"/></li>

                                <li>  操作名称: <input type="text" name="action_name" value="{{queryDoc[0].action_name}}" /></li>
                                <li>  操作类型: 
                                    <select name="type">
                                            <option value="1" {% if queryDoc[0].type === 1 %} selected {% endif %}>模块</option>
                                            <option value="2"  {% if queryDoc[0].type === 2 %} selected {% endif %}>菜单</option>
                                            <option value="3"  {% if queryDoc[0].type === 3 %} selected {% endif %}>操作</option>
                                    </select>
                                </li>
                                <li>  操作链接: <input type="text" name="url" value="{{queryDoc[0].url}}"/></li>
                                <li>  所属模块: 
                                    <select name="module_id">
                                            <option {% if queryDoc[0].module_id === 0 %} selected {%endif%} value="0">顶级模块</option>
                                        {% for item in doc %}
                                            <option {% if queryDoc[0].module_id.toString() === item._id.toString() %} selected {%endif%}  value="{{item._id}}">{{item.module_name}}</option>
                                        {% endfor %}
                                    </select>
                                </li>
                                <li>排 &nbsp;&nbsp; &nbsp;&nbsp;序: <input type="text" name="sort" value="{{queryDoc[0].sort}}" /></li>

                                <li>
                                    权限描述:
                                    <textarea name="description" id="" cols="60" rows="8">{{queryDoc[0].description}}</textarea>
                                </li>

                                <li>
                                    <br/>
                                    <button type="submit" class="btn btn-default">提交</button>
                                </li>

                            </ul>


                        </form>
                    </div>
                </div>
            </div>

        </div>
       {% endblock %} 