{% extends '../public/base.html' %}
        {% block main%}
        <div class="col-sm-10">
          
            <div class="panel panel-default">              
			    <div class="panel-heading">
                  增加商品类型
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form">
                        <form method="post" action="doEdit">
                            <ul>
                                <li>  　属性名称： <input type="text" name="title" value="{{docType[0].title}}"/></li> 
                                <li>  　所属类型：
                                    <select name="cate_id" id="cate_id">
                                        {% for item in docAttr %}   
                                            <option value="{{item._id}}" {% if item._id.toString() === docType[0].cate_id.toString() %} selected {% endif %}>{{item.title}}</option>
                                        {% endfor %}    
                                    </select>
                                </li> 
                                <li>   　录入方式：
                                        <input type="radio" name="attr_type" {% if docType[0].attr_type.toString() === '1' %} checked {% endif %}  value="1" id="text" /><label for="text">单行文本框</label> 　
                                        <input type="radio" name="attr_type" {% if docType[0].attr_type.toString() ==='2' %} checked {% endif %} value="2" id="textarea" /><label for="textarea">多行文本框</label> 　
                                        <input type="radio" name="attr_type"{% if docType[0].attr_type.toString() === '3' %} checked {% endif %} value="3"  id="select" /><label for="select">从下面的列表中选择（一行代表一个可选值）</label>　
                                </li> 
                                <li>
                                    可选值列表：
                                    <textarea name="attr_value" id="attr_value" cols="60" rows="8" disabled="disabled"></textarea>
                                </li>
                                <li>
                                    <br/>
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}  